/*  #root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
 } */

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*   max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flexbox;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(86, 190, 109);
}

.home-front {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(120, 164, 214);
  margin: 0 auto;
  flex: 200px;
  /*   text-align: center; */
  justify-content: center;
  /*   flex-direction: column; */
}

.pokemon-preview {
  background-color: #535bf2;
  max-width: 50%;
  min-width: 19%;
  margin: 2px;
  text-align: center;
  justify-content: center;


  /*   h2 {
    text-align: center;
  } */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #c91111;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  min-width: 50%;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #a7a9d4;
  }

  button {
    background-color: #f9f9f9;
  }
}

.favoritePokemons {
  /*   border: 5px #c91111; */
  background-color: salmon;
  color: white;
}