body {
    margin: 0;
    display: flexbox;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(50, 53, 50);
}

.home-front {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(120, 164, 214);
    margin: 0 auto;
    gap: 1rem;
    padding: 15px 25px;
    /*   flex: 200px; */
    /*   text-align: center; */
    justify-content: center;
    /*   flex-direction: column; */
}

.offsetButtons {
    display: flex;
    flex-wrap: nowrap;

}

.offsetButtons Button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    min-width: 50%;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

.offsetButtons button:hover {
    border-color: #646cff;
}

.offsetButtons button:focus,
.offsetButtons button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}