body {
    margin: 0;
    display: flexbox;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #3D7DCA;
    /* background-color: #1615153d; */

}

.home-front {
    display: flex;
    flex-wrap: wrap;
    /*     background-color: #00000052; */
    border: 8px solid #FFCB05;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    gap: 2rem;
    padding: 35px 25px;
    /*   flex: 200px; */
    /*   text-align: center; */
    justify-content: center;
    /*   flex-direction: column; */
    background:
        linear-gradient(-45deg, #0000 1.3%, #F5F5F5 0 32%, #0000 0),
        linear-gradient(45deg, #0000 48%, #D8DEFF 0 52%, #0000 0),
        linear-gradient(45deg, #0000 1.3%, #F5F5F5 0 32%, #0000 0) calc(47px/2) calc(47px/2),
        linear-gradient(-45deg, #0000 48%, #D8DEFF 0 52%, #0000 0) #F5F5F5;
    background-size: calc(2*47px) 47px, 47px 47px;
}

.offsetButtons {
    display: flex;
    flex-wrap: nowrap;

}

.offsetButtons Button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 700;
    min-width: 50%;
    font-family: inherit;
    color: #FFCB05;
    background-color: #003A70;
    cursor: pointer;
    transition: border-color 0.25s;
}

.offsetButtons button:hover {
    border-color: #FFCB05;
    color: #F93318;
}

.offsetButtons button:focus,
.offsetButtons button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}