.navbar {
    background-color: #3D7DCA;
    border-radius: 5px;
    padding-bottom: 10px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: #FFCB05;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

a {
    font-weight: 700;
    color: #FFCB05;
    text-decoration: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    background-color: #003A70;
    width: 5rem;

}

a:hover {
    color: #F93318;
    border-color: #FFCB05;
}

.links {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;

}