.navbar {
    background-color: #3D7DCA;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 0;
}

h1 {
    font-size: 4.2em;
    line-height: 1.1;
    color: #FFCB05;
    margin-bottom: 2rem;
    /*    padding-top: 1rem; */
    margin-top: 0;
}

a {
    font-weight: 700;
    color: #FFCB05;
    text-decoration: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;

    width: 5rem;
    border-color: #FFCB05;

}

a:hover {
    color: #003A70;
    background-color: #FFCB05;

}

.links {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;

}