.navbar {
    background-color: #3D7DCA;
    border-radius: 5px;
    padding-bottom: 10px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: #FFCB05;
}

a {
    font-weight: 700;
    color: #3D7DCA;
    text-decoration: inherit;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

a:hover {
    color: #3D7DCA;
}

.links {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;

}